.internalError {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.internalError svg {
  margin-right: 2rem;
}

.internalErrorMessage {
  color: var(--primary-color);
  margin: 0;
}

.description {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
}
