.loading-screen {
  animation: fadeScreen 2s linear;
  /* background: linear-gradient(135deg, white 0%, var(--primary-color) 71%); */
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

@keyframes fadeScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clock-hand {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
