.watchListCard {
    border: 1px solid var(--grey);
    margin: 0.25rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
}

.content {
    width: 100%;
    margin-left: 1rem;
}

.cardHeader, .cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandName {
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.actionBtns {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.btn:hover {
    transform: scale(1.2);
}

.productImage {
    object-fit: contain;
    max-height: 120px;
    max-width: 120px;
    width: 100%;
    transition: all 0.3s ease;
}

.productImage:hover {
    transform: scale(1.2);
}

.name {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

.price {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.addToCartBtn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 175px;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    font-family: var(--primary-font);
  }
  
  .addToCartBtn svg {
    margin-right: 1rem;
  }